@import "~bootstrap/scss/bootstrap.scss";

.svg-caro {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-open .modal {
  padding-left: 0!important;
}

#modal {
  height: 100%;
  width: 100%;
  margin: 0;
  max-width: none;
  overflow-y: hidden;
}
.modal-content {
  height: calc(100% - 96px);
  width: calc(100% - 96px)!important;
  position: relative;
  overflow: hidden;
  margin: 48px;
}

#modal-body {
  height: calc(100% - 96px);
  position: relative;
  overflow: hidden;
  margin: 8px;
  overflow-y: auto;
  padding: 0;
}

#modal-body-carol {
  height: calc(100% - 96px);
  position: relative;
  overflow: hidden;
  padding: 0;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  display: flex;
}

#carol-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(0, 0, 0);
}